
.-planArea{
    .planTitle{
        position: relative;
        &::after{
            content:"";
            width: 56%;
            height: 200%;
            background: url(../images/item/planTitle_bg-min.png) no-repeat;
            background-size: contain;

            position: absolute;
            top: 50%;
            left: 17%;
            transform: translateY(-50%);
            z-index: -1;
            @include mq(tb){
                top: 50%;
                left: -10%;
            }
        }
    }
    .planItem{
        @include mq(tb){
            width: 80%;
        }
        &.-left{
            margin-left: 0;
            margin-right: auto;
        }
        &.-right{
            margin-left: auto;
            margin-right: 0;
        }
    }
}